ion-modal#example-modal {
    --height: auto;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.5), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal#example-modal::part(backdrop) {
    background: rgb(159, 160, 161);
    opacity: 1;
}